body {
    font-family: Arial, Helvetica, sans-serif;
    
}

#je-content {
    
    width: 45%;
    margin: 0 auto;
    margin-top: 10%;
}

#je-fl {
    display: flex;
    flex-direction: row;
}

.je-h {
    margin-top: 5%;
    margin-bottom: 5%;
}

.je-lnk {
    width:40px;
    height:40px;
    background-size:contain;
    display:flex;
    flex-direction: column;
}
