body {
    font-family: Arial, Helvetica, sans-serif;
    
}

#je-content {
    
    width: 45%;
    margin: 0 auto;
    margin-top: 10%;
}

.je-h {
    margin-top: 5%;
    margin-bottom: 5%;
}